/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: black;
    position: fixed;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
  }
  
  body {
    background-color: black;
    color: white;
    font-family: 'Calligraffitti', cursive;
    font-size: 25px;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: black;
    color: white;
    font-family: 'Homemade Apple', cursive;
  }
  
  h1{
    
  }
  
  p{ 
    font-size:25px;
  }
  
  #welcome-section{
    height: 410px;
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    background-image:url("https://cdn.pixabay.com/photo/2011/12/14/12/17/galaxy-11098_1280.jpg");
  }
  
  #projects{
    height: 500px;
    text-align:center;
  }
  
  .row{
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 47%;
    margin: 10px;
  }
  
  .profile-links{
    display:flex;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }